/* Common Styles */
:root {
    --card-background-color: #f9f9f9;
    --card-border-color: #e5e5e5;
    --border-radius: 8px;
}

[data-theme="dark"] {
    --card-background-color: #1e1e1e;
    --card-border-color: #333;
}

.smaller {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
}

/* Utilities */
.text-center { text-align: center; }
.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }
